<html>
    <head>
        <title>pystats</title>
        <style>
            .center { border: 5px solid; margin: auto; width: 50%; padding: 10px;}
            table, tr, td { border: 5px solid; margin: auto; width: 50%; padding: 10px;}
        </style>
    </head>
    <body>
        <div class="center">
            <a href="/json">json</a><br />
            <a href="/yaml">yaml</a>
        </div>
        {%- for type_name, type_values in stats.items() %}
        <div>
            <h1>{{ type_name }}</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                {%- for key, val in type_values.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ val }}</td>
                </tr>
                {%- endfor %}
            </table>
        </div>
        {%- endfor %}

    </body>
</html>
