{% extends 'base.html' %}

{% block content %}
{% for type_name, type_values in stats.items() %}
{% if type_values | length > 0 %}
<div>
    <table id="stats">
        {%- set title = type_name | capitalize if type_name != "cpu" else type_name | upper %}
        <thead>
            <tr>
                <th colspan="2"><h3>{{ title }}</h3></th>
            </tr>
        </thead>
        <tbody>
            {%- for key, val in type_values.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ val }}</td>
            </tr>
        </tbody>
        {%- endfor %}
    </table>
</div>
{% endif %}
{%- endfor %}
<div>
    <table id="stats">
        <thead>
            <tr>
                <th colspan="2"><h3>Requests</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total number of requests</td>
                <td>{{ req_total }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="heading">
    <h5>
        <b>Output Types</b><br>
        <a href="/yaml">Yaml</a> |
        <a href="/json">JSON</a> |
        <a href="/metrics">Prometheus</a> |
        <a href="/">HTML</a>
    </h5>
</div>
{% endblock %}
